
//----------------Version 1 (課題①)---------------------

.wrap {
   display: flex;
   justify-content: center;
   align-items: center;
}
.img1, .img2, .img3, .img4 {
   display: none;
}

.appear {
   display: block;
}

//----------------------------------------

h2 {
   margin-top: 50px;
   margin-bottom: 50px;
   font-weight: bold;
   font-size: 4rem;
   text-align: center;
}