//----------------Version 2 (課題②)---------------------
.wrap2 {
   display: flex;
   justify-content: center;
   align-items: center;
}
.pics {
   width: 640px;
   display: flex;
   flex-direction: row-reverse;
   overflow: hidden;
   @include sp {
      width: 300px;
      height: 180px;
   }
}
.pic {
   width: 100%;
   transition: 1s ease;
}


.move {
   margin-right: -640px;
   @include sp {
      margin-right: -300px;
   }
}
//-------------------------------------------
