.wrap4 {
   display: flex;
   justify-content: center;
   align-items: center;
}

.women {
   width: 640px;
   margin: 0;
   height: 420px;
   overflow: hidden;
   // display: flex;
   position: relative;
   @include sp {
      width: 300px;
      height: 180px;
   }
}

.woman {
   width: 100%;
   position: absolute;
   transition: 1s;
}

.current {
   z-index: 100;
   margin: 0;
}

.waiting-on-left {
   transform: translateX(-640px);
   z-index: 50;
   @include sp {
      transform: translateX(-300px);
   }
}

.waiting-on-right {
   transform: translateX(640px);
   z-index: 50;
   @include sp {
      transform: translateX(300px);
   }
}

.out {
   display: none;
}