
//----------------Version 1 (課題①)---------------------

.wrap {
   display: flex;
   justify-content: center;
   align-items: center;
}

.imgs {
   width: 600px;
   @include sp {
      width: 300px;
   }
}
.img1, .img2, .img3, .img4 {
   display: none;
   width: 100%;
}

.appear {
   display: block;
}

//----------------------------------------

